<span style='color: #000' title='Frames'>    71</span><span style='color: #009' title='Memory'>  27904.00 KB</span><span style='color: #900' title='Time'>    533.87 ms</span><span  title='Quirksmode'>  <span style='color: #0d0'>OFF</span></span><br />