.is-fullwidth {
  width: 100%;
}

.transition,
.folder .title,
.folder ul li,
.folder ul .folderSelect,
.draft li,
.draft li .segline,
.draftselect {
  transition-property: color background-color;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

#draf-load {
  font-size: 0.9rem;
}

.boxMessage {
  max-height: 190px;
  overflow-y: scroll;
}

.button {
  color: #FF9900 !important;
}

.folder {
  position: relative;
  background-color: #f4f4f4;
  margin: 0px;
}

.folder .iconfolder {
  position: absolute;
  right: 20px;
  color: #FF9900;
  cursor: pointer !important;
}

.folder #folderSpace {
  border-right: 1px #d5d5d5 solid;
  border-left: 1px #d5d5d5 solid;
  height: 100%;
}

.folder .title {
  height: 25px;
  position: relative;
  padding-top: 20px;
}

.folder .title span {
  opacity: 0;
}

.folder .title:hover span {
  opacity: 1;
}

.folder #search-by-name {
  height: 40px;
  background-color: #F4F9FD;
  border-bottom: 1px #d5d5d5 solid;
  padding-top: 12px;
  position: relative;
}

.folder #search-by-name .textprev input[type="text"] {
  padding-right: 5px;
  border: none;
  width: 90px;
  background: transparent;
  font-size: 14px;
  text-transform: lowercase;
}

.folder #search-by-name .textprev i {
  color: #FF9900;
  margin-left: -9px;
  padding-right: 14px;
}

.folder ul {
  position: relative;
  cursor: default;
  outline: none;
  padding: 0;
}

.folder ul li {
  list-style-type: none;
  position: relative;
  height: 35px;
  padding-top: 10px;
  padding-left: 10px;
  font-size: 0.9em;
}

.folder ul li span {
  opacity: 0;
}

.folder ul li:hover {
  background-color: #dedede;
}

.folder ul li:hover span {
  opacity: 1;
}

.folder ul .inputNewFolder {
  padding-top: 3px;
  padding-right: 18px;
  display: none;
}

.folder ul .inputNewFolder input[type="text"] {
  position: relative;
  width: 80px;
  height: 27px;
  font-size: 14px;
  font-weight: bold;
}

.folder ul .inputNewFolder span {
  height: 27px;
  float: right;
  text-align: center;
  margin-left: 4px;
  opacity: 1 !important;
  cursor: pointer !important;
  color: #FF9900;
}

.folder ul .newFolder {
  display: block;
}

.folder ul .folderSelect {
  background-color: #DCECF9;
  font-weight: bold;
}


/***************************************************
Select Draft
***************************************************/

.generalMenu {
  height: 40px;
  background-color: #F4F9FD;
  border-bottom: 1px #d5d5d5 solid;
  padding-top: 12px;
  position: relative;
  padding-left: 10%;
  color: #c3c3c3;
}

.draftlist {
  position: relative;
}

.draftlist .stateData {
  border-bottom: 1px #d5d5d5 solid;
  padding-left: 30px;
  padding-bottom: 5px;
  padding-top: 20px;
  font-size: 1.1em;
}

.draftlist .stateData:hover .allselect {
  opacity: 0.5 !important;
}

.draftlist .stateData .allselect {
  position: absolute;
  left: 5px;
  outline: 0;
  z-index: 2;
  cursor: pointer;
  opacity: 0;
  margin-top: 5px;
}

.filterbutton {
  padding: 0;
  left: 13px;
  cursor: pointer !important;
  color: #FF9900;
  font-size: 1.1rem;
}

.dropdown {
  float: right;
  position: relative;
  display: inline-block;
  margin-left: 10px;
}

.filterdraft {
  position: relative;
  padding: 0 25px 0 29px;
  height: 20px;
  margin-top: x;
  color: #FF9900;
  font-size: 1.1rem;
  margin-left: 10px;
}

.filterdraft .dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 130px;
  box-shadow: -2px 6px 6px 0px rgba(0, 0, 0, 0.3);
  z-index: 100;
  right: 0px;
}

.filterdraft .dropdown-content a {
  color: #333;
  font-size: 12px;
  font-weight: normal;
  text-decoration: none;
  display: block;
  line-height: 30px;
  padding-left: 20px;
  padding-right: 10px;
}

.titleFilter {
  line-height: 30px;
  padding-left: 20px;
  padding-right: 10px;
}

.dropdown-content a:hover {
  background-color: #dedede;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.draft {
  position: relative;
  cursor: default;
  outline: none;
  padding: 0;
  max-height: 585px;
  overflow-y: auto;
}

.draft li {
  list-style-type: none;
  position: relative;
  margin-bottom: 2px;
  padding-top: 13px;
  padding-bottom: 5px;
  padding-right: 5px;
  padding-left: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.3;
  height: 92px;
  font-size: 0.8rem;
}

.draft li .titleDraft {
  font-size: 0.9rem;
}

.draft li .segline {
  color: #FF9900;
}

.draft li .thiline {
  opacity: 0.5;
}

.draft li:hover {
  background-color: #dedede;
}

.draft li:hover .highlight {
  background-color: #dedede;
}

.draft li:hover input {
  opacity: 0.5;
}

.draft .highlight {
  position: absolute;
  left: 0;
  height: 92px;
  width: 3px;
  top: 0;
  align-content: baseline;
  background-color: #FF9900;
}

.draft .date {
  position: absolute;
  right: 5px;
  top: 0px;
  font-size: 0.7rem;
  opacity: 0.5;
}

.draft .inputHidden {
  position: absolute;
  outline: 0;
  z-index: 2;
  cursor: pointer;
  opacity: 0;
  top: 15px;
  left: 5px;
  padding: 4px;
}

.draftselect {
  background-color: #DCECF9;
  opacity: 1 !important;
}

.draftselect .highlight {
  background-color: #DCECF9 !important;
}

.draftselectRead .highlight {
  background-color: #fff;
}

.draftselectRead .segline {
  color: #424140 !important;
}

.inputMark {
  opacity: 0.5 !important;
}


/*INIT COMPONENT VUE-HISTORY*/

.grabar {
  font-weight: bold;
  color: #FF9900;
  cursor: pointer !important;
  cursor: pointer;
  width: 100%;
  border: 1px solid;
  padding: 6px;
  opacity: 0.7;
}

.grabar:hover {
  opacity: 1;
}

.history {
  width: 760px;
}

.history #dataTosend {
  margin: 10px;
}

.history .acceptDraf {
  position: absolute;
  right: 0;
}

.history ul {
  padding: 0px;
}

.history ul li {
  list-style-type: none;
  position: relative;
  margin-bottom: 5px;
  padding-top: 10px;
  text-align: justify;
  line-height: 1.5em;
}

.history ul li .date {
  font-weight: bold;
  color: #FF9900;
  cursor: pointer !important;
}

#actions {
  position: relative;
  height: 40px;
  border-bottom: 1px #d5d5d5 solid;
  background-color: #F4F9FD;
}

#actions a {
  color: #FF9900;
}

#actions a i {
  margin-right: 2px;
}


/*END COMPONENT VUE-HISTORY*/

.comments ul {
  padding: 0px;
}

.comments ul li {
  list-style-type: none;
  position: relative;
  margin-bottom: 5px;
  padding-top: 10px;
  text-align: justify;
  line-height: 1.5em;
}

.comments ul li .titleDraft {
  font-size: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: normal;
  width: 80%;
}

.comments ul li .date {
  font-weight: bold;
}

.comments textarea {
  resize: vertical;
  min-height: 110px;
  border: 2px solid #cccccc;
  width: 100%;
}

.comments .grabar {
  cursor: pointer;
  width: 70px;
  border: 1px solid;
  padding: 6px;
  opacity: 0.7;
}

.comments .grabar:hover {
  opacity: 1;
}

/*ALERTS AND NOTIFICATIONS*/
.alertPlace{
  position: fixed;
  bottom: 0px;
  right: 0px;
}
