@font-face {
  font-family: 'iconsub';
  src: url('../estilos/font/iconsub.eot?38441265');
  src: url('../estilos/font/iconsub.eot?38441265#iefix') format('embedded-opentype'),
       url('../estilos/font/iconsub.woff2?38441265') format('woff2'),
       url('../estilos/font/iconsub.woff?38441265') format('woff'),
       url('../estilos/font/iconsub.ttf?38441265') format('truetype'),
       url('../estilos/font/iconsub.svg?38441265#iconsub') format('svg');
  font-weight: normal;
  font-style: normal;
}


.hi-icon-wrap {
	text-align: right;
	margin: 15px;
}

.hi-icon-wrap .hi-icon-effect-1 .hi-icon-effect-1a a {
  color: orange;
}

.agendar {
	text-align: left;
	margin: 15px;
}

.hi-icon {
	display: inline-block;
	cursor: pointer;
	margin: 0px 8px;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	text-align: center;
	position: relative;
	z-index: 1;
	color: #FF9900;
}

.hi-icon:after {
	pointer-events: none;
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	content: '';
	-webkit-box-sizing: content-box; 
	-moz-box-sizing: content-box; 
	box-sizing: content-box;
}

.hi-icon:before {
	font-family: 'iconsub';
	speak: none;
	font-size: 23px;
	line-height: 50px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	display: block;
	-webkit-font-smoothing: antialiased;
}

.hi-icon-na:before { content: '\e800'; }
.hi-icon-folder-add:before { content: '\e801'; }
.hi-icon-right:before { content: '\e802'; }
.hi-icon-loop:before { content: '\e803'; }
.hi-icon-export:before { content: '\e805'; }
.hi-icon-ok:before { content: '\e806'; }
.hi-icon-flag:before { content: '\e807'; }
.hi-icon-mail:before { content: '\e808'; }
.hi-icon-box:before { content: '\f187'; }
.hi-icon-podcast:before { content: '\f2ce'; }
.hi-icon-rocket:before { content: '\f135'; }


/* Effect 1 */
.hi-icon-effect-1 .hi-icon {
	background: rgba(0,0,0,0.1);
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	transition: all 0.2s;
}

.hi-icon-effect-1 .hi-icon:after {
	top: -7px;
	left: -7px;
	padding: 7px;
	box-shadow: 0 0 0 4px gray;
	-webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
	-webkit-transform: scale(.8);
	-moz-transition: -moz-transform 0.2s, opacity 0.2s;
	-moz-transform: scale(.8);
	-ms-transform: scale(.8);
	transition: transform 0.2s, opacity 0.2s;
	transform: scale(.8);
	opacity: 0;
}

/* Effect 1a */
.hi-icon-effect-1a .hi-icon:hover {
	background: #FF9900;
	color: #fff;
}



.hi-icon-effect-1a a {
	text-decoration: none;
}

.hi-icon-effect-1a .hi-icon:hover:after {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}

/* The element to hover over */
.hi-icon .popover {
  background-color: gray;
  border-radius: 5px;
  top: 70px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  color: #fff;
  display: none;
  font-size: 12px;
  font-family: 'Helvetica',sans-serif;
  right: 4px;
  padding: 7px 10px;
  position: absolute;
  width: 200px;
  z-index: 4;
  text-align: left;
}

.hi-icon .popover .title {
  margin-bottom: 5px;
  border-bottom: 1px white solid;
  border-bottom: 1px white solid;
}
.hi-icon .popover p {
  line-height: 14px;
  text-align: justify;
}
.hi-icon .popover:before {
  border-right: 7px solid transparent;
  border-left: 7px solid transparent;
  border-bottom: 7px solid gray;
  content: '';
  display: block;
  left: 88%;
  margin-top: -14px;
  position: absolute;
}

.hi-icon:hover .popover {
  display: block;
  -webkit-animation: fade-in .3s linear 1, move-up .3s linear 1;
  -moz-animation: fade-in .3s linear 1, move-up .3s linear 1;
  -ms-animation: fade-in .3s linear 1, move-up .3s linear 1;
}

@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-moz-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-ms-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes move-up {
  from {
    top: 77px;
  }
  to {
    top: 67px;
  }
}

@-moz-keyframes move-up {
  from {
    top: 77px;
  }
  to {
    top: 67px;
  }
}

@-ms-keyframes move-up {
  from {
    bottom: 77px;
  }
  to {
    bottom: 67px;
  }
}
