/* ==========================================================================
   Login Box styles
   ========================================================================== */
html{
  background-color: #2c72b7;
}

body{
	background     : rgb(240, 240, 240) url(../img/login_background.jpeg) center;
	padding        : 40px;
	padding-bottom : 200px;
}

.container{
  width: auto;
}

.centercontent{
  text-align: center;
  margin-top: 3%;
}

#titleLogin{
	color       : papayawhip;
	text-align  : center;
	font-size   : 1.8em;
	font-weight : normal;
	margin-bottom: 30px;
}

.login-box{
	max-width:480px;
	margin-left:auto;
	margin-right:auto;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	padding-bottom: 20px;
	-webkit-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5), inset 1px 1px 2px rgba(255, 255, 255, 0.5);
	-moz-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5), inset 1px 1px 2px rgba(255, 255, 255, 0.5);
	box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5), inset 1px 1px 2px rgba(255, 255, 255, 0.5);
}


.login-form form p{
	width:80%;
	margin: 5px auto 10px;
	text-align: center;
	text-shadow: 1px 1px 2px #fff;
}

.login-form input:focus{
	opacity:1;
	border:1px solid #fff;
}
