@import url("./bulma.css");
@import url("./elusive-icons.css");

/*INICIO Estilos editados de bulma.css*/
html{
  overflow-y: inherit;
}

.navbar {
  min-height: 3.25rem;
  position: fixed;
  z-index: 1000;
  width: 100%;
}

.navMenuEdit{
  background: linear-gradient(to bottom,#2a73b7 93%,#d1d1d1 100%);
}

.navbar-item {
  color: #fff;
}

a {
  color: #007765;
}

.columns {
  margin-left: 0rem;
  margin-right: 0rem;
}

/*Menu bar*/
.menu {
  font-size: 0.8rem !important;;
}

.menu-label {
  color: #2a73b7;
}

#menuBox {
  background-color: white;
  display: block;
  padding: 0.4rem;
  font-size: 0.8rem;
  min-width: 175px;
  margin-right: 0.5rem;
}

.menu-list {
  line-height: 0.65;
}

.menu-list a {
  padding: 0.5em 0.5em;
}

.menu-list li a {
  width: 160px;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
  display:inline-block;
}

aside p i:last-child {
  position: relative;
  float: right;
  margin-top: 0.3em;
}

aside .el {
  font-size: 0.7em;
}

.navbar-burger span {
  background-color: #fff;
}

.navbar-burger:hover span{
  background-color: black;
}

.tag-cont {
  font-size: 0.65rem;
  height: 1.7em;
  line-height: 1.5;
  padding-left: 0.675em;
  padding-right: 0.675em;
}

.iframe-container{
  position: relative;
  overflow: hidden;
  width:100%;
  height: calc(100vh - 50px);
}

#idVertText tr th {
  text-align: center;
  vertical-align: bottom;
  min-width:5px;
}

.vertText {
  writing-mode: sideways-lr;
  -webkit-writing-mode: sideways-lr;
  -ms-writing-mode: sideways-lr;
}


@media screen and (min-width: 769px){
  .iframe-container{
    height: calc(100vh - 55px);
  }
}

@media screen and (max-width: 768px) {
  .iframe-container{
    height: 250%;
  }
}

table {
  font-size: 0.7rem;
}

.navbar-item,
.navbar-link {
  padding: 0.5rem 0.5rem;
}

/*FIN Estilos editados de bulma.css*/

.titulo1 {
	font-size: 0.7rem;
	font-style: normal;
	line-height: 10px;
	font-weight: bolder;
	color: #FFFFFF;
	background-color: #377584;
	text-indent: 5pt;
}

.info {
	font-size: 10px;
	font-style: normal;
	color: #000000;
	text-indent: 5pt;
}

.tex_area {
	font-size: 10px;
	color: #000000;
	text-indent: 2pt;
}

.botones {
	font-size: 10px;
	font-weight: bolder;
  background-color: #FF9900;
	color: #FFFFFF;
	text-align: center;
	height: 20px;
	width: 90px;
	border: thin solid #FFFFFF;
}

.botones_2 {
	font-size: 10px;
	font-weight: bolder;
	background-color: #e3ad02;
	color: #FFFFFF;
	text-align: center;
	height: 20px;
	width: 30px;
	border: thin solid #999999;
}

.botones_3 {
	font-size: 10px;
	font-weight: bolder;
	background-color: #e3ad02;
	color: #FFFFFF;
	text-align: center;
	height: 20px;
	width: 70px;
	border: thin solid #999999;
}

.botones_mediano {
	font-size: 10px;
	font-weight: bolder;
	background-color: #FF9900;
	color: #FFFFFF;
	text-align: center;
	height: 20px;
	width: 130px;
	border: thin solid #FFFFFF;
}

.botones_mediano2 {
	font-size: 10px;
	font-weight: bolder;
	background-color: #e3ad02;
	color: #FFFFFF;
	text-align: center;
	height: 20px;
	width: 130px;
	border: thin solid #FFFFFF;
}

.botones_largo {
	font-size: 10px;
	font-weight: bolder;
	background-color: #FF9900;
	color: #FFFFFF;
	text-align: center;
	height: 20px;
	width: 230px;
	border: thin solid #FFFFFF;
}

.select {
	font-size: 0.7rem;
}
.titulos2 {
	font-size: 10px;
	font-style: normal;
	font-weight: bolder;
	color: #000000;
	background-color: #a8bac6;
	text-indent: 5pt;
	vertical-align: middle;
	height: 30px;
}
.titulos5 {
	font-size: 10px;
	font-style: normal;
	font-weight: bolder;
	color: #000000;
	background-color: #e0e6e7;
	text-indent: 5pt;
	vertical-align: middle;
}
.tablas {
	font-size: 10px;
	font-style: normal;
	font-weight: bolder;
	color: #FFFFFF;
	background-color: #999999;
	text-indent: 5pt;
	vertical-align: middle;
}
.titulos3 {
	font-size: 10px;
	font-weight: bolder;
	color: #000000;
	background-color: #a8bac6;
	text-indent: 5pt;
	vertical-align: middle;
	text-align: center;
	height: 30px;
}

.leidos {
	font-weight: bolder;
	color: #2A73b7;
	text-decoration: none;
}

.no_leidos {
	font-weight: bolder;
	color: #488F03;
	text-decoration: none;
}

.leidos2 {
	font-size: 10px;
	font-style: normal;
	font-weight: normal;
	color: #006690;
	text-decoration: none;
}

.listado1 {
	font-size: 10px;
	font-style: normal;
	font-weight: bolder;
	text-transform: none;
	color: #000000;
	text-decoration: none;
	background-color: #FFFFFF;
	text-align: left;
	vertical-align: middle;
	height: 30px;
}
.listado2 {
	font-size: 10px;
	font-style: normal;
	font-weight: bolder;
	text-transform: none;
	color: #000000;
	text-decoration: none;
	background-color: #e3e8ec;
	text-align: left;
	vertical-align: middle;
	height: 30px;
}
.listado2_center {
	font-size: 10px;
	font-style: normal;
	text-transform: none;
	color: #000000;
	text-decoration: none;
	background-color: #e3e8ec;
	text-align: center;
	text-indent: 5pt;
	vertical-align: middle;
	height: 30px;
}
.listado2_no_identa {
	font-size: 10px;
	font-style: normal;
	font-weight: bolder;
	text-transform: none;
	color: #000000;
	text-decoration: none;
	background-color: #e3e8ec;
	text-align: left;
	text-indent: 0pt;
	vertical-align: middle;
	height: 30px;
}
.listado5 {
	font-size: 10px;
	font-style: normal;
	font-weight: bolder;
	text-transform: none;
	color: #000000;
	text-decoration: none;
	background-color: #e3e8ec;
	text-align: left;
	text-indent: 5pt;
	vertical-align: middle;
}
.paginacion {
	font-size: 10px;
	font-weight: bold;
	color: #377584;
	text-decoration: none;
	text-align: center;
}
.vinculos {
	font-size: 10px;
	font-style: normal;
	font-weight: bolder;
	color: #2A73b7;
	text-align: left;
	text-indent: 5pt;
	vertical-align: middle;
}
.botones_funcion {
	font-size: 10px;
	font-weight: bolder;
	background-color: #377584;
	color: #FFFFFF;
	text-align: center;
	border: thin solid #FFFFFF;
	text-indent: 5pt;
	vertical-align: middle;
}

.titulos4 {
  color: #FFFFFF;
  background-color: #2A73b7;
  text-align: center;
  text-transform: uppercase;
  height: 30px;
}
.alarmas {
	font-size: 10px;
	font-weight: bold;
	color: #990000;
	text-align: center;
}
.menu_princ {
	font-size: 10px;
	font-weight: bolder;
	color: #086478;
	cursor: pointer;
	text-decoration: none;
	text-indent: 3pt;
}
.titulosError {
	font-size: 10px;
	font-style: normal;
	font-weight: bolder;
	color: #FF0000;
	background-color: #e3e8ec;
	text-indent: 5pt;
	vertical-align: middle;
	height: 30px;
}
.titulosError2 {
	font-size: 10px;
	font-style: normal;
	font-weight: bolder;
	color: #FF0000;
	text-indent: 5pt;
	vertical-align: middle;
	height: 30px;
}
.tSel {
 background-color: #00FF22;
}

.porExcluir {
	font-size: 10px;
	font-weight: bolder;
	color: #FF0000;
	text-decoration: none;
}
.vinculoTipifAnex {
	font-size: 10px;
	font-style: normal;
	font-weight: bolder;
	color: #009060;
	text-align: left;
	text-indent: 5pt;
	vertical-align: middle;
}
